.places {
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places h1 {
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 0;
	margin: 0;
}
.places article {
	flex-shrink: 0;
	width: 390px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	padding: 20px;
	position: relative;
	margin: 20px;
	height: fit-content;
}
.places article h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	text-align: center;
	padding: 20px;
}
.places article .price_by_night {
	display: inline-block;
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	border-radius: 60px;
	text-align: center;
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 0 2px;
}
.places article .information {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	justify-content: center;
}
.places article .information .max_guest {
	background: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 100px;
	position: relative;
	margin-bottom: 10px;
}
.places article .information .number_rooms {
	background: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 100px;
	position: relative;
	margin-bottom: 10px;
}
.places article .information .number_bathrooms {
	background: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 80px;
	width: 100px;
	position: relative;
	margin-bottom: 10px;
}
.places article .information span {
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.places article .user {
	margin-top: 20px;
}
.places article .amenities {
	margin-top: 40px;
	width: 100%;
}
.places article .amenities ul {
	padding-left: 0px;
	list-style-type: none;
}
.places article .amenities ul li {
	margin-bottom: 5px;
}
.places article .amenities ul li:nth-child(1)::before {
	content: "";
	display: inline-block;
	height: 28px;
	width: 28px;
	margin-bottom: -8px;
	margin-right: 10px;
	background: url("../images/icon_tv.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.places article .amenities ul li:nth-child(2)::before {
	content: "";
	display: inline-block;
	height: 28px;
	width: 28px;
	margin-bottom: -8px;
	margin-right: 10px;
	background: url("../images/icon_wifi.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.places article .amenities ul li:nth-child(3)::before {
	content: "";
	display: inline-block;
	height: 28px;
	width: 28px;
	margin-bottom: -8px;
	margin-right: 10px;
	background: url("../images/icon_pets.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.places article .amenities h2 {
	border-bottom: 1px solid #dddddd;
	text-align: left;
	padding: 10px 0;
	font-size: 16px;
}
.places article .reviews {
	margin-top: 40px;
}
.places article .reviews h2 {
	border-bottom: 1px solid #dddddd;
	text-align: left;
	padding: 10px 0;
	font-size: 16px;
}
.places article .reviews ul {
	list-style-type: none;
	padding: 0;
}
.places article .reviews ul li{
	margin-bottom: 30px;
}
.places article .reviews ul h3{
	margin-bottom: 5px;
	font-size: 14px;
}
.places article .reviews ul p{
	margin: 0;
	font-size: 12px;
}
