.places {
	position: relative;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places h1 {
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 0;
	margin: 0;
}
.places article {
	flex-shrink: 0;
	width: 390px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	padding: 20px;
	margin: 20px;
}
.places article h2 {
	font-size: 30px;
	text-align: center;
}
